<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/student.css">
</head>
<body>
<div class="background-content">
    <div class="header" th:include="student/sHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="student/sLeft :: left"></div>

        <div class="album text-muted" id="div-hot">

            <hr/>
            <h3 id="h3-therterTabTitle" th:text="${assignment.getTitle()}">Assignment 01</h3>
            <hr/>
            <div id="div-assignmentInfo">
                <table id="table-assignmentInfo" cellpadding="15" cellspacing="10" rules="none">
                    <tr>
                        <td class="td-assignmentLeft">
                            Course type:
                        </td>
                        <td th:text="${assignment.getCtype()}">
                            Statistics
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description:
                        </td>
                        <td th:text="${assignment.getIntro()}">
                            A simple python question.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deadline:
                        </td>
                        <td th:text="${assignment.getDeadline()}">
                            2018/12/31 23:59:59
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Late rule:
                        </td>
                        <!--<td th:text="${assignment.get()}">-->
                        <td>
                            24h/80%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Detailed file:
                        </td>
                        <td>
                            <form method="post" action="/student/downloadDetailedFile">
                                <input type="submit" class="btn btn-primary" id="btn-downloadDetailedFile"
                                value="Download.">
                                <input th:hidden="true" class="input-urlDown" type="text" name="urlDown" th:value="${assignment.getFile()}">
                                <!--th:onclick="|downloadDetailedFile(${assignment.getAid()})|">-->
                            </form>
                        </td>



                    </tr>
                    <tr>
                        <td>
                            Submit State:
                        </td>
                        <td th:text="${submitState}">
                            Not submitted
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Score:
                        </td>
                        <td th:text="${score}">
                            Not available
                        </td>
                    </tr>

                </table>
                <!--<input type="button" href="#" class="btn btn-primary" id="btn-addSubmit" value="Submit."-->
                <!--onclick="">-->


                <a id="modal-submitAssignment" href="#modal-container-submitAssignment" role="button"
                   class="btn btn-primary"
                   data-toggle="modal" th:if="${ifCanSubmit}">Submit.</a>
                <form class="form-class" id="form-submitAssignment" method="post"
                      enctype="multipart/form-data" action="/student/submitAssignment">
                    <div class="modal fade" id="modal-container-submitAssignment" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-class" id="div-submitAssignment">
                                        <h2 class="form-class-heading">Add submit</h2>

                                        <table>
                                            <tr>
                                                <td style="min-width: 150px;">
                                                    File type:
                                                </td>
                                                <td style="float: left">
                                                    <select id="select-fileType" name="fileType" value="">
                                                        <option value="java">java</option>
                                                        <option value="python">python</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    TXT file:
                                                </td>
                                                <td>
                                                    <input type="file" id="btn-txtFile"
                                                           value="Choose file." name="txtFile"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Detailed file:
                                                </td>
                                                <td>
                                                    <input type="file" id="btn-submitFile"
                                                           value="Choose file." name="submitFile"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" id="btn-addSubmit" value="Submit.">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <footer class="text-muted">
                <div class="container-footer">
                    <p class="float-right">
                        <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                    </p>
                </div>
            </footer>
        </div>
        <!--</div>-->

        <!-- /container -->

    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">

    function downloadDetailedFile(aid) {
        alert("YES!");
        $.ajax({
            type: "POST",
            data: {aid: aid},
            url: "/student/downloadDetailedFile",
            success: function (data) {
                // if (data == "认证成功") {
                //     window.location.href = ("/admin/corp/list");
                // } else {
                //     alert("认证失败");
                // }
            },
            error: function (data) {
                // alert("认证失败");
            }
        });
    }
</script>
<script type="text/javascript">
    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>