<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My courses</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/homepage.css">
</head>
<body>
<div class="background-content">
    <div class="header" th:include="/student/sHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/student/sLeft :: left"></div>

        <div class="album text-muted" id="div-hot">
            <hr/>
            <h3 id="h3-therterTabTitle">Course assignment list.</h3>
            <hr/>

            <div id="div2-member-order">

                <table class="table table-striped" id="table-orderInfo">
                    <thead>
                    <tr>
                        <th>Aid</th>
                        <th>Title</th>
                        <th>Intro</th>
                        <th>Deadline</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-all">

                    <tr th:each="a, State : ${assignments}">
                        <td th:text="${a.aid}"></td>
                        <td th:text="${a.title}"></td>
                        <td th:text="${a.intro}"></td>
                        <td th:text="${a.deadline}"></td>
                        <td>
                            <span><a th:href="@{'/student/'+${sid}+'/'+${ctype}+'/'+${a.aid}+'/assignmentInfo'}" class="btn btn-primary" value="Detail"></a></span></td>

                    </tr>

                    <!--<tr>-->
                        <!--<td>1</td>-->
                        <!--<td>Assignment01</td>-->
                        <!--<td>A simple python question.</td>-->
                        <!--<td>2018/12/30 23:59:59</td>-->
                        <!--<td>-->
                            <!--<span><a href="/student/151250199/assignmentInfo" class="btn btn-primary" value="Detail"></a></span></td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>

            <footer class="text-muted">
                <div class="container-footer">
                    <p class="float-right">
                        <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                    </p>
                </div>
            </footer>
        </div>
        <!--</div>-->

        <!-- /container -->

    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>