<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/homepage.css">
</head>
<body>
<div class="background-content">
    <!--<div class="header" th:fragment="header"></div>-->

    <header style="position: fixed;width: 100%;top:0;z-index: 101;">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="row">
                <div class="col-sm-6 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Spark Course Platform
                    </p>
                </div>
                <div class="col-sm-6 py-4 user-info">
                    <h4 class="text-white">User information</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/logout" class="text-white">Log out</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/modifyPwd" class="text-white">Modify password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between" style="float: right">
                <span class="navbar-brand" id="span-web">Course Platform</span>
                <div id="logo"><a href="/"><img src="/image/favicon.ico" alt="logo" width="40"></a></div>
                <span class="navbar-brand" id="a-course">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="navbar-brand" id="presentCourse">Present course : Statistics</span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand" id="div-ownUsername" th:text="'[Present user]&nbsp' + ${sid}"></div>
                </span>
            </div>
        </div>
    </header>

    <div class="container mainContent">
        <!--<div class="div-left">-->

        <div class="div-chooseTab">
            <nav class="d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a id="a-t1" class="nav-link active" href="">My Courses</a>
                        <span class="sr-only">(current)</span>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a id="a-t2" class="nav-link" href="">Submit records</a>
                    </li>
                </ul>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a id="a-t3" class="nav-link" href="">User info</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--</div>-->

        <!--<div class="div-right">-->
        <div class="album text-muted" id="div-hot">

            <hr/>
            <h3 id="h3-therterTabTitle">Assignment 01</h3>
            <hr/>
            <div id="div1-publish-show">
                <table id="table-publish-show" cellpadding="15" cellspacing="10" rules="none">
                    <tr>
                        <td class="td-assignmentLeft">
                            Course type:
                        </td>
                        <td>
                            Statistics
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description:
                        </td>
                        <td>
                            A simple python question.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deadline:
                        </td>
                        <td>
                            2018/12/31 23:59:59
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Late rule:
                        </td>
                        <td>
                            24h/80%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Detailed file:
                        </td>
                        <td>
                            <input type="button" href="#" class="btn btn-primary" id="btn-downloadDetailedFile"
                                   value="Download."
                                   onclick=""></td>
                    </tr>
                    <tr>
                        <td>
                            Submit State:
                        </td>
                        <td>
                            Not submitted
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Score:
                        </td>
                        <td>
                            Not available
                        </td>
                    </tr>

                </table>
                <!--<input type="button" href="#" class="btn btn-primary" id="btn-addSubmit" value="Submit."-->
                <!--onclick="">-->


                <a id="modal-modifyPwd" href="#modal-container-modifyPwd" role="button"
                   class="btn btn-primary"
                   data-toggle="modal">Submit.</a>
                <form class="form-class" id="form-publishShow" method="post"
                      enctype="multipart/form-data" action="/student/submitAssignment">
                    <div class="modal fade" id="modal-container-modifyPwd" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-class" id="form-modifyPwd">
                                        <h2 class="form-class-heading">Add submit</h2>

                                        <table>
                                            <tr>
                                                <td style="min-width: 150px;">
                                                    File type:
                                                </td>
                                                <td style="float: left">
                                                    <select id="select-fileType" name="fileType" value="">
                                                        <option value="java">java</option>
                                                        <option value="python">python</option>
                                                        <option value="jar">jar</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Detailed file:
                                                </td>
                                                <td>
                                                    <input type="file" id="btn-submitFile"
                                                           value="Choose file." name="submitFile"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                    <input type="submit" class="btn btn-primary" id="btn-addSubmit" value="Submit.">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <footer class="text-muted">
                <div class="container-footer">
                    <p class="float-right">
                        <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                    </p>
                </div>
            </footer>
        </div>
        <!--</div>-->

        <!-- /container -->

    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>