<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My courses</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/homepage.css">
</head>
<body>
<div class="background-content">
    <div class="header" th:include="/student/sHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/student/sLeft :: left"></div>

        <div class="album text-muted" id="div-hot">
            <h3 style="margin-left: -15rem;">Course List</h3>
            <div class="container-card">
                <div class="row">

                    <div class="card" th:each="c : ${courses}">
                        <!--<a class="course_type" th:text="${c.getCtype()}"></a>-->

                        <a th:href="@{'/student/'+${sid}+'/'+${c.getCtype()}+'/assignment'}" class="course_type" th:text="${c.getCtype()}"></a>
                    </div>
                    <!--<div class="card">-->
                    <!--<a href="/student/151250199/assignment" class="course_type">云计算</a>-->
                    <!--</div>-->
                    <!--<div class="card">-->
                    <!--<a href="/" class="course_type">大数据</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <footer class="text-muted">
            <div class="container-footer">
                <p class="float-right">
                    <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                </p>
            </div>
        </footer>
    </div>
    <!--</div>-->

    <!-- /container -->

</div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>

<script type="text/javascript" th:inline="javascript">
    var courseC = [[${courses.get(0).getCtype()}]];
    alert(courseC);
</script>

</html>