<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My courses</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/student.css">
</head>
<body>
<div class="background-content">
    <div class="header" th:include="/student/sHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/student/sLeft :: left"></div>

        <div class="album text-muted" id="div-hot">
            <hr/>
            <h3 id="h3-therterTabTitle">Submitted record list.</h3>
            <hr/>

            <div id="div2-member-order">

                <table class="table table-striped" id="table-recordList">
                    <thead>
                    <tr>
                        <th>Aid</th>
                        <th>Ctype</th>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Submit</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-all">

                    <!--<tr >-->
                    <!--<td >0</td>-->
                    <!--<td >assignment01</td>-->
                    <!--<td >2019-03-09 11:23:34</td>-->
                    <!--<td>-->
                    <!--<input type="button" href="#" class="btn btn-primary" value="Download." onclick="">-->
                    <!--</tr>-->
                    <!--<tr >-->
                    <!--<td >1</td>-->
                    <!--<td >assignment02</td>-->
                    <!--<td >2019-03-10 17:13:34</td>-->
                    <!--<td>-->
                    <!--<input type="button" href="#" class="btn btn-primary" value="Download." onclick="">-->
                    <!--</tr>-->

                    <tr th:each="r : ${records}">
                        <td th:text="${r.aid}">1</td>
                        <td>ctype</td>
                        <td>title</td>
                        <td th:text="${r.time}">2019-03-10 17:13:34</td>
                        <td>
                            <input type="button" href="#" class="btn btn-primary" value="Download." onclick="">
                    </tr>

                    </tbody>
                </table>
            </div>

            <footer class="text-muted">
                <div class="container-footer">
                    <p class="float-right">
                        <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                    </p>
                </div>
            </footer>
        </div>
        <!--</div>-->

        <!-- /container -->

    </div>
</div>
</body>
<script type="text/javascript">
    $("#a-t1").attr("class", "nav-link");
    $("#a-t2").attr("class", "nav-link active");
    $("#a-t3").attr("class", "nav-link");

    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>