<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel='stylesheet' href="/css/style.css">
</head>
<div th:fragment="header">
    <header style="position: fixed;width: 100%;top:0;z-index: 101;">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="row">
                <div class="col-sm-6 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Spark Course Platform
                    </p>
                </div>
                <div class="col-sm-6 py-4 user-info">
                    <h4 class="text-white">User information</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/logout" class="text-white">Log out</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>

                            <a id="modal-modifyPwd" href="#modal-container-modifyPwd" role="button"
                               class="text-white"
                               data-toggle="modal">Modify password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container d-flex justify-content-between" style="float: right">
                <span class="navbar-brand" id="span-web">Course Platform</span>
                <div id="logo"><a href="/"><img src="/image/favicon.ico" alt="logo" width="40"></a></div>
                <span class="navbar-brand" id="a-course">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="navbar-brand" id="presentCourse" th:text="'Present course : '+${session.ctype}">Present course : Statistics</span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand" id="div-ownUsername" th:text="'[Present user]&nbsp' + ${sid}"></div>
                </span>
            </div>
        </div>

        <form class="form-class" id="form-modifyPwd" method="post" action="/modifyPassword">
            <div class="modal fade" id="modal-container-modifyPwd" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-class" id="div-modifyPwd">
                                <h2 class="form-class-heading">Modify password</h2>

                                <table>
                                    <tr>
                                        <td>
                                            Password new:
                                        </td>
                                        <td>
                                            <input type="password" id="text-pwdNew"
                                                   placeholder="Password New." name="pwdNew"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Password Again:
                                        </td>
                                        <td>
                                            <input type="password" id="text-pwdAgain"
                                                   placeholder="Password Again." name="pwdAgain"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" id="btn-addSubmit" value="Modify.">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </header>
</div>
