<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left">
    <div class="div-chooseTab">
        <nav class="d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a id="a-t1" class="nav-link active" href="/student/151250199/course">My Courses</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a id="a-t2" class="nav-link" href="">Submit records</a>
                </li>
            </ul>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a id="a-t3" class="nav-link" href="">Notice</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
