<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Figure assignment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/root.css">
    <link rel="script" href="/js/jsFigureA.js">

</head>
<body>
<div class="background-content">
    <div class="header" th:include="/root/rHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/root/rLeft :: left"></div>

        <hr/>
        <h3 id="h3-therterTabTitle">Figure assignments.</h3>
        <hr/>

        <div class="div-alignLeft">
            <span>Course &emsp;&emsp;&nbsp;type : </span>&emsp;
            <select id="select-courseTypeFigure" name="courseTypeFigure" value="">
                <option th:text="please_choose"></option>
                <option th:each="c : ${courses}"
                        th:value="${c.ctype}" th:text="${c.ctype}">
                </option>
                <!--<option value="Statistics">Statistics</option>-->
                <!--<option value="Cloud">Cloud</option>-->
            </select>
        </div>

        <div class="div-alignLeft">
            <span>Assignment state : </span>&emsp;
            <input type="radio" th:value="All" th:text="All" name="assignmentState" checked="checked">&emsp;
            <input type="radio" th:value="Published" th:text="Published" name="assignmentState">&emsp;
            <input type="radio" th:value="End" th:text="End" name="assignmentState">&emsp;
            <input type="radio" th:value="Finished" th:text="Finished" name="assignmentState">&emsp;
            <input type="radio" th:value="Scoring" th:text="Scoring" name="assignmentState">&emsp;
            <input type="radio" th:value="Scored" th:text="Scored" name="assignmentState">
        </div>
        <div id="div-figureAssignment">
            <form action="/root/figureAssignmentsAct" method="post">
                <table class="table table-striped" id="table-figureAssignment">
                    <thead>
                    <tr>
                        <th>Choose</th>
                        <th>Aid</th>
                        <th>Ctype</th>
                        <th>Title</th>
                        <th>Deadline</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-published">
                    <tr th:each="a : ${assignmentsPublished}">
                        <td><input type="checkbox" name="figureAid" value="1" disabled="disabled"></td>
                        <td th:text="${a.aid}">1</td>
                        <td th:text="${a.ctype}">Cloud</td>
                        <td th:text="${a.title}">Assignment01</td>
                        <td th:text="${a.deadline}">2018/12/30 23:59:59</td>
                        <td th:text="${a.state}">End</td>
                    </tr>
                    </tbody>
                    <tbody id="tbody-end">
                    <tr th:each="a : ${assignmentsEnd}">
                        <td><input type="checkbox" name="figureAid" value="1"></td>
                        <td th:text="${a.aid}">1</td>
                        <td th:text="${a.ctype}">Cloud</td>
                        <td th:text="${a.title}">Assignment01</td>
                        <td th:text="${a.deadline}">2018/12/30 23:59:59</td>
                        <td th:text="${a.state}">End</td>
                    </tr>
                    </tbody>
                    <tbody id="tbody-finished">
                    <tr th:each="a : ${assignmentsFinished}">
                        <td><input type="checkbox" name="figureAid" value="1"></td>
                        <td th:text="${a.aid}">1</td>
                        <td th:text="${a.ctype}">Cloud</td>
                        <td th:text="${a.title}">Assignment01</td>
                        <td th:text="${a.deadline}">2018/12/30 23:59:59</td>
                        <td th:text="${a.state}">End</td>
                    </tr>
                    </tbody>
                    <tbody id="tbody-scoring">
                    <tr th:each="a : ${assignmentsScoring}">
                        <td><input type="checkbox" name="figureAid" value="1" disabled="disabled"></td>
                        <td th:text="${a.aid}">1</td>
                        <td th:text="${a.ctype}">Cloud</td>
                        <td th:text="${a.title}">Assignment01</td>
                        <td th:text="${a.deadline}">2018/12/30 23:59:59</td>
                        <td th:text="${a.state}">End</td>
                    </tr>
                    </tbody>
                    <tbody id="tbody-scored">
                    <tr th:each="a : ${assignmentsScored}">
                        <td><input type="checkbox" name="figureAid" value="1" disabled="disabled"></td>
                        <td th:text="${a.aid}">1</td>
                        <td th:text="${a.ctype}">Cloud</td>
                        <td th:text="${a.title}">Assignment01</td>
                        <td th:text="${a.deadline}">2018/12/30 23:59:59</td>
                        <td th:text="${a.state}">End</td>
                    </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" id="btn-addFigure" value="Figure.">
            </form>

        </div>

        <footer class="text-muted">
            <div class="container-footer">
                <p>
                    <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                </p>
            </div>
        </footer>
    </div>

</div>
</body>
<script type="text/javascript" th:inline="javascript">

    var ctypeNow=[[${ctype}]];
    $("#select-courseTypeFigure[name='courseTypeFigure']").val(ctypeNow);
    // alert("ctype now is : "+ctypeNow);

    var req = new XMLHttpRequest();
    var selectId = document.getElementById("select-courseTypeFigure");//获取ID
    selectId.onchange = function ()//触发事件
    {
        var ctype = selectId.options[selectId.selectedIndex].innerHTML;//获取选中文本
        // alert(ctype);

        // $.ajax({
        //     type: "post",
        //     data: {courseType: ctype},  //获取商品id
        //     url: "/root/figureAssignment",  //调用后台方法
        //     dataType: "json",
        //     success: function (data) {  //data是后台方法执行后的返回值
        //         if (data.status == 1) {
        //             $("#table-figureAssignment").load(location.href + " #table-figureAssignment");  //这里是第一次用的局部刷新
        //             window.location.reload();  //刷新当前页面（这是最新加的刷新页面，自动执行完就可以二次点击了）
        //         }
        //     }
        // });

        window.location.href='/root/figureAssignment?ctype='+ctype;

    }


    $(':radio').click(function () {
        var state = $(this).val();
        // alert(state);

        if(state==="All"){
            $("#tbody-published").show();
            $("#tbody-end").show();
            $("#tbody-finished").show();
            $("#tbody-scoring").show();
            $("#tbody-scored").show();
        } else if(state==="Published"){
            $("#tbody-published").show();
            $("#tbody-end").hide();
            $("#tbody-finished").hide();
            $("#tbody-scoring").hide();
            $("#tbody-scored").hide();
        }else if(state==="End"){
            $("#tbody-published").hide();
            $("#tbody-end").show();
            $("#tbody-finished").hide();
            $("#tbody-scoring").hide();
            $("#tbody-scored").hide();
        }else if(state==="Finished"){
            $("#tbody-published").hide();
            $("#tbody-end").hide();
            $("#tbody-finished").show();
            $("#tbody-scoring").hide();
            $("#tbody-scored").hide();
        }else if(state==="Scoring"){
            $("#tbody-published").hide();
            $("#tbody-end").hide();
            $("#tbody-finished").hide();
            $("#tbody-scoring").show();
            $("#tbody-scored").hide();
        }else if(state==="Scored"){
            $("#tbody-published").hide();
            $("#tbody-end").hide();
            $("#tbody-finished").hide();
            $("#tbody-scoring").hide();
            $("#tbody-scored").show();
        }
    });

    $("#a-t1").attr("class", "nav-link");
    $("#a-t2").attr("class", "nav-link");
    $("#a-t3").attr("class", "nav-link active");
    $("#a-t4").attr("class", "nav-link");

</script>

</html>