<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/homepage.css">
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/root.css">

</head>
<body>
<div class="background-content">
    <div class="header" th:include="/root/rHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/root/rLeft :: left"></div>

        <div id="div-addNewCourse">
            <button id="btn-addNewCourse"><img src="/image/addNew.png" width="25px"><span
                    style="vertical-align: bottom">&nbsp;Add new course</span></button>
        </div>

        <div class="album text-muted" id="div-hot">
            <h3>Course List</h3>
            <div class="container-card">
                <div class="row">

                    <div class="card">
                        <a href="/student/151250199/assignment" class="course_type">云计算</a>
                    </div>
                    <div class="card">
                        <a href="/" class="course_type">大数据</a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-muted">
            <div class="container-footer">
                <p>
                    <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                </p>
            </div>
        </footer>
    </div>
    <!--</div>-->

    <!-- /container -->

</div>
</div>
</body>
<script type="text/javascript">

    $("#a-t1").attr("class", "nav-link");
    $("#a-t2").attr("class", "nav-link");
    $("#a-t3").attr("class", "nav-link");
    $("#a-t4").attr("class", "nav-link active");

    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>