<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/homepage.css">
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/root.css">

</head>
<body>
<div class="background-content">
    <div class="header" th:include="/root/rHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/root/rLeft :: left"></div>

        <hr/>
        <h3 id="h3-therterTabTitle">Manage users.</h3>
        <hr/>
        <div id="div-manageUser">
            <div id="div-addSingleBySid">
                <h5 class="h5-addUser">Add single by sid</h5>
                <form action="/root/addSingleBySid" method="post">
                    <table id="table-addSingleBySid" cellpadding="15" cellspacing="10" rules="none">
                        <tr>
                            <td class="td-addUser">
                                Sid:
                            </td>
                            <td class="td-addUser2">
                                <input id="input-addSingleSid" type="text" name="sid">
                            </td>
                            <td class="td-addUser3">
                    <input type="submit" class="btn btn-primary" id="btn-addSingleBySid" value="Add.">
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
            <div id="div-addMultipleByFile">
                <h5 class="h5-addUser">Add multiple by file</h5>
                <form action="/root/addMultipleByFile" method="post" enctype="multipart/form-data">
                    <table id="table-addMultipleByFile" cellpadding="15" cellspacing="10" rules="none">
                        <tr>
                            <td class="td-addUser">
                                User file:
                            </td>
                            <td class="td-addUser2">
                                <input type="file" class="btn btn-primary" id="btn-userFile"
                                       value="Choose file." name="userFile"></td>
                            <td class="td-addUser3">
                                <input type="submit" class="btn btn-primary" id="btn-addMultipleByFile" value="Add.">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>


        </div>

        <footer class="text-muted">
            <div class="container-footer">
                <p>
                    <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                </p>
            </div>
        </footer>
    </div>
    <!--</div>-->

    <!-- /container -->

</div>
</div>
</body>
<script type="text/javascript">

    $("#a-t1").attr("class", "nav-link");
    $("#a-t2").attr("class", "nav-link");
    $("#a-t3").attr("class", "nav-link");
    $("#a-t4").attr("class", "nav-link active");

    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>