<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All courses</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/image/favicon.ico"/>
    <link rel='stylesheet' href="/css/style.css">
    <link rel='stylesheet' href="/css/root.css">

</head>
<body>
<div class="background-content">
    <div class="header" th:include="/root/rHeader :: header"></div>

    <div class="container mainContent">

        <div class="left" th:include="/root/rLeft :: left"></div>

        <div id="div-addNewCourse">
            <img src="/image/addNew.png" width="25px">
            <a href="#modal-container-addNewCourse" role="button" data-toggle="modal">&nbsp;Add new course</a>
        </div>

        <div class="album text-muted" id="div-hot">
            <h3>Course List</h3>
            <div class="container-card">
                <div class="row">

                    <div class="card" th:each="c : ${courses}">
                        <a th:href="@{'/root/'+${c.ctype}+'/assignment'}" class="course_type" th:text="${c.ctype}"></a>
                    </div>

                    <!--
                    <div class="card">
                        <a href="/student/151250199/assignment" class="course_type">云计算</a>
                    </div>
                    <div class="card">
                        <a href="/" class="course_type">大数据</a>
                    </div>
                    -->
                </div>
            </div>
            <form class="form-class" id="form-addNewCourse" method="post" action="/root/addNewCourse">
                <div class="modal fade" id="modal-container-addNewCourse" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-class" id="form-modifyPwd">
                                    <h2 class="form-class-heading">Add submit</h2>

                                    <table>
                                        <tr>
                                            <td>
                                                Course name:
                                            </td>
                                            <td>
                                                <input id="input-addNewCourse" type="text" name="ctype">
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" id="btn-addNewCourse" value="Add.">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <footer class="text-muted">
                <div class="container-footer">
                    <p>
                        <a href="#">Back to top<img src="/image/go_up.png" width="30px"></a>
                    </p>
                </div>
            </footer>
        </div>
        <!--</div>-->

        <!-- /container -->

    </div>
</div>
</body>
<script type="text/javascript">

    $("#a-t1").attr("class", "nav-link active");
    $("#a-t2").attr("class", "nav-link");
    $("#a-t3").attr("class", "nav-link");
    $("#a-t4").attr("class", "nav-link");

    $(function () {
        $(".nav-link").click(function () {
            $(".nav-link active").attr("class", "nav-link");
            $(this).attr("class", "nav-link active");
        });
    });
</script>
</html>