#div-addNewCourse {
    float: right;
    margin-right: 110px;
    margin-top: 15px;
}

#btn-addNewCourse {
    background-color: transparent;
    border-width: 0px;
    font-size: 18px;
}

#btn-addNewCourse:hover {
    color: #007bff;
}

/*************************************************************************/
.card-therter {
    float: left;
    /*max-width: 400px;*/
    /*max-height: 350px;*/
    padding: 0.75rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    background-color: #ffffff;
}

.card-therter a {
    max-height: 35px;
    max-width: 100px;
    border-radius: 5px;
    font-size: 75%;
}

.card-therter > img {
    margin-bottom: 0.75rem;
}

.card-therter p {
    font-size: 75%;
    margin: 2px;
}

/*
 * Sidebar
 */

.sidebar {
    min-width: 200px;
    /*position: fixed;*/
    /*top: 56px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    z-index: 1000;
    padding: 30px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*******************************/

.div-therter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 1400px;
}

.div-chooseTabTherter {
    padding-top: 3rem;
    /*padding-bottom: 3rem;*/
    max-width: 200px;
    margin-left: -100px;
    position: absolute;

}

.div-contentRight {
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-left: 105px;
    min-height: 500px;
    width: 1100px;
    min-height: 800px;
    position: absolute;

}

/*
table
 */
#table-publish-show {
    background: transparent;
    border-width: 0;
    /*margin-top: 30px;*/
    margin-left: 200px;
    /*width: 490px;*/
    /*padding-left: 10px;*/
}

#table-publish-show td {
    font-size: 20px;
    /*margin: 5px;*/
    color: black;
}

#table-publish-show tr td:nth-child(1) {
    text-align: right;
}

#table-publish-show input {
    width: 397px;
}

#table-publish-show select {
    width: 397px;
}

/*button*/
#btn-publishShow {
    width: 120px;
    /*float: right;*/
    margin: 40px 700px auto;
}

/*search form*/
#div-formSearch {
    margin-top: 30px;
}

#form-searchOrderId {
    margin-left: 330px;
}

#input-searchOrderId {
    width: 300px;
}

table td, table th {
    text-align: center;
}

.table-striped th, .table-striped td {
    font-size: 14px;
}

/*************************************************************************/

.td-assignmentLeft {
    min-width: 200px;
}

#select-lateTime {
    width: 190px;
    float: left;
}

#select-courseType {
    width: 190px;
    float: right;
}

#btn-confirmPublish, #btn-addSubmit {
    margin-left: 825px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*figure assignment*/
#div-figureAssignment{
    margin-left: 100px;
}
#btn-addFigure{
    margin-left: 935px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*manage user*/
#div-manageUser {
    margin-left: 10rem;
}

.h5-addUser {
    margin-left: -48rem;
}

.td-addUser, .td-addUser3 {
    min-width: 150px;
}

.td-addUser2 {
    min-width: 300px;
}

#input-addSingleSid, #btn-userFile {
    min-width: 300px;
    max-width: 300px;
}