<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel="icon" href="/image/favicon.ico" />
    <link rel='stylesheet' href="/css/style.css">

</head>
<body>


<div class="background">
    <div class="container">
        <div class="content">
            <h1 id="h1-welcome">Welcome to Course Platform.</h1>
            <p id="btn-choose-signInAndUp">
                <a href="/login" class="btn btn-primary">Login.</a>
            </p></div>
    </div>
</div>
</body>
</html>