<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script src="/public/jquery/jquery.min.js"></script>
    <script src="/public/bootstrap-4/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/bootstrap-4/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon" href="/static/image/favicon.ico" />

</head>
<body>
<div class="background">
    <div class="container">
        <form class="form-class" id="form-signInUp" method="post">
            <h2 class="form-class-heading">Please sign in</h2>
            <label class="sr-only">Student id</label>
            <input type="text" name="sid" id="sid" class="form-control" placeholder="Student id" required
                   autofocus>
            <label class="sr-only">Password</label>
            <input type="password" name="pwd" id="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" id="btn-signIn" type="submit" value="Sign in">
        </form>
    </div>

    <script type="text/javascript">


    </script>
</div>
</div>
</body>
</html>